jupyter
notebook
ipykernel

numpy
pandas
scipy
scikit-learn
statsmodels
datasets

matplotlib
seaborn

catboost
lightgbm

tensorflow
torch
transformers
tokenizers
accelerate
peft
trl
sentence-transformers
faiss-cpu
pillow
tqdm
nltk
